gi<template>
  <div id="app">
    <notes/>
  </div>
</template>

<script>
import notes from './components/notes.vue';

export default {
  name: 'App',
  components: {
    notes
  },
}
</script>

<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
body{
   background-color: #4e2734;
}
</style>
