<template>
    <div class="wrapper">
    <div class="sidebar">   
        <h2>NOTES</h2>
        <ul>
            <li><a href="#" @click="showModal = true">Upload Music</a></li>
            <li><a href="#">All Songs</a></li>
            <li><a href="#" @click="showModal1 = true">Create Playlist</a></li>
            <li><a href="#">Playlist 1</a></li>
            <li><a href="#">Playlist 2</a></li>
            <li><a href="#">Playlist 3</a></li>
            <li><a href="#">Playlist 4</a></li>
        </ul> 
    </div>
    <div class="main_content">
        
          <form class="example" action="action_page.php">
            <input type="text" name="search">
            <button type="submit"><i class="bi bi-search"></i></button>
          </form>
          <div class="all">
            <h1>All Songs</h1>
          </div>
        <div class="table">
          <table>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Artist</th>
              <th>Album</th>
              <th>Duration</th>
            </tr>
            <tr>
              <td><i class="bi bi-play-fill"></i></td>
              <td>Chivalry is Dead</td>
              <td>Trevor Wesley</td>
              <td>Trevor Wesley</td>
              <td>3:14</td>
            </tr>
            <tr>
              <td><i class="bi bi-play-fill"></i></td>
              <td>Binibini</td>
              <td>Zach Tabudlo</td>
              <td>Binibini</td>
              <td>3:50</td>
            </tr>
            <tr>
              <td><i class="bi bi-play-fill"></i></td>
              <td>Mabagal</td>
              <td>Daniel Padilla & Moira Dela Torre</td>
              <td>Patawad</td>
              <td>4:07</td>
            </tr>
            <tr>
              <td><i class="bi bi-play-fill"></i></td>
              <td>Buwan</td>
              <td>Juan Carlos</td>
              <td>Buwan</td>
              <td>5:38</td>
            </tr>
            <tr>
              <td><i class="bi bi-play-fill"></i></td>
              <td>Somebody out there</td>
              <td>A Rocket to the Moon</td>
              <td>Wild & Free</td>
              <td>3:27</td>
            </tr>
          </table>
          <audio src="" id="audio"></audio>

          <div class="music-play">
            <h1 class="song-name">Chivalry is Dead</h1>
            <p class="artist-name">Trevor Wesley</p>
            <div class="song-slider">
              <input type="range" value="0" class="seek-bar">
              <span class="current">0:00</span>
              <span class="duration">0:00</span>
            </div>
            <div class="controls"> 
              <button class="btn backward-btn"><img alt="LEFT" src= "https://i.ibb.co/9pNXxYG/left.png"></button>
              <button class="play-btn pause">
                <span></span>
                <span></span>
              </button>
              <button class="btn forward-btn"><img src="https://i.ibb.co/YZyjt84/right.png" alt="RIGHT"></button>
            </div>
          </div>
      </div>
    </div>

  <div id="app">
    <transition name="fade" appear>
      <div class="modal-overlay" v-if="showModal" @click="showModal = false"></div>
    </transition>
    <transition name="slide" appear>
      <div class="modal" v-if="showModal">
        <div class="top-content">Upload Music</div>
        <div class="main-content"><div class="space"></div><div class="dragdrop">drag and drop your files here</div>
         <button class="buttonModal">Upload</button>
        <button class="buttonModalC" @click="showModal = false">Cancel</button>
        </div>
      </div>
    </transition>
  </div>
  
<div id="app">
    <transition name="fade" appear>
      <div class="modal-overlay" v-if="showModal1" @click="showModal1 = false"></div>
    </transition>
    <transition name="slide" appear>
      <div class="modal" v-if="showModal1">
        <div class="top-content">Create Playlist</div>
        <div class="main-content"><div class="space"></div> <input type="playlist" class="form-control">
                   <div class="btn" id="btnof"></div>
         <button class="buttonModalU">Create</button>
        <button class="buttonModalCU" @click="showModal1 = false">Cancel</button>
        </div>
      </div>
    </transition>
  </div>


</div>

</template>
<script> 

export default {
    name: 'Notes',
    components:{
      
    },
    data(){
        return{
           showModal: false,
           showModal1: false
        }
    },
    
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #090406;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: white;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #211d1e;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #4e2734;
  color: white;

}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

form.example{
  padding-top: 20px;
  padding-left: 15px;
}
form.example input[type=text] 
{
    padding: 10px;
    font-size: 17px;
    border: 1px solid #f8f8f8;
    float: left;
    width: 22%;
    background: #f8f8f8;
    color: #020202;
}
form.example button 
{
    float: left;
    width: 5%;
    padding: 9px;
    background: #f8f8f8;
    color: #000000;
    font-size: 17px;
    border: 1px solid #f8f8f8;
    border-left: none;
    cursor: pointer;
}
  
  form.example button:hover 
  {
    background:#717171;
  } 
  form.example::after 
  {
    content: "";
    clear: both;
    display: table;
    
  }
  .wrapper .main_content .all{
    padding-left: 20px;
    padding-top: 40px;
  }
  .wrapper .main_content .all h1{
    color: #fff;
  }
  table, th, td {
    border: 1px solid rgb(255, 255, 255);
  }
  .table{
    padding-left: 20px;
    padding-top: 20px;
  }
  table{
    width: 98%;
    border-collapse: collapse;
    font-size: 23px;
    color: white;
  }
  th{
    height: 30px;
    background-color: #211d1e;
  }
  td{
    text-align: center;
    height: 30px;
    background-color: #090406;
  }
  .table tr td i{
   font-size: 36px;
  }
  td:hover {
    background-color: #717171;
  }

.music-play{
  height: 240px;
  width: 1123px;
  padding: 20px;
  overflow: hidden;
  color: #fff;
}
.song-name, .artist-name{
  text-align: center;
  text-transform: capitalize;
}
.song-name{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}
.artist-name{
  font-size: 2opx;
}
.song-slider{
  width: 700px;
  position: relative;
  margin: auto;
}
.seek-bar{
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #090406;
  cursor: pointer;
  overflow: hidden;
}
.seek-bar::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 1px;
  height: 20px;
  background: #211d1e;
  box-shadow: -400px 0 0 400px #fff;
}
.current, .duration{
  font-size: 15px;

}
.duration{
  position: absolute;
  right: 0;
}
.controls{
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
}
.play-btn{
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  border: none;
  
}
.play-btn span{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 10px;
  height: 30px;
  border-radius: 2px;
  background: #090406;
  transition: .5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.play-btn span:nth-child(2){
  left: 55%;
  transform-origin: center;
}
.play-btn.pause span:nth-child(2){
  transform: translateY(-50%) scaleY(0);
}
.play-btn.pause span:nth-child(1){
  width: 35%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}


@keyframes pulse{
  0%{
    box-shadow: 0;
  }
  50%{
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
  }
  100%{
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
  }
}
.btn{
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
label {
  background: transparent;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}


#app{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.fade-enter-active,
.fade-leave-active{
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to{
  opacity: 0;
}
.modal{
  position: fixed;
  top: 25%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  background-color: transparent;
  padding: 25px;

}
.modal .top-content{
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  background: #090406;
  width: 100%;
  height: 37px;
  margin-right: 100px;
  padding-top: 9px;
  padding-left: 5px;
}
.modal p{
  color: #666;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.modal .main-content{
  width: 100%;
  height: 135px;
  background: #211d1e;
}
.buttonModal{
  margin-top: 16px;
  margin-left: 180px;
  padding: 9px 13px;
  font-size: 15px;
  border-radius: 5px;
  color: #f2f2f2;
  font-weight: 400;
  background: #4e2734;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: background 0.2s;
  cursor: pointer;
  
}
.buttonModalC{
  padding: 9px 13px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 5px;
  color:#090406 ;
  font-weight: 400;
  background: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: background 0.2s;
  cursor: pointer;
}
.dragdrop{
  padding-top: 5px;
  margin-left: 25px;
  width: 300px;
  height: 60px;
  background: #fff;
  text-align: center;
  color: #666;
  padding-top: 20px;
}
.space{
  width: 100%;
  height: 10px;
}
.form-control{
    width: 70%;
    margin-left: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
}
.buttonModalU{
  margin-left: 180px;
  padding: 9px 13px;
  font-size: 15px;
  border-radius: 5px;
  color: #f2f2f2;
  font-weight: 400;
  background: #4e2734;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: background 0.2s;
  cursor: pointer;
  
}
.buttonModalCU{
  padding: 9px 13px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 5px;
  color:#090406 ;
  font-weight: 400;
  background: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: background 0.2s;
  cursor: pointer;
}
</style>